.container {paddig: 0px;
margin: 0px;}
.menu{
    display:flex;
    justify-content: space-evenly;
    background-color: brown;
    text-decoration: none;
    size: 50px;
    padding: 5px;
    
}

.footer-top {
    background-color: aqua;
}

.menu a  {
    text-decoration: none;
    color:white;
    font-family: sans-serif;
}
.footer-mid {
    background-color: darkcyan;
}
.footer-mid a {
    color: blue;
}
.footer-mid p {
    color: white;
    font-size: small;
}
.footer-bottom{
    border-radius: 12px;
    padding: 14px 40px;
    color: white;
}
.button{
    background-color: brown;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.button a {
    color: white;
    text-decoration: none;
}

